.App {
  text-align: center;
}

.application-container{
  background-color: yellow;
}

.cards-container{
  display: flex;
  background-color: red;
  justify-content: space-between;
}

.pokemon-card{
  width: 14rem;
  background-color: white;
  border: solid black 1px;
}

.button-pagination:focus {
  background-color: rgb(93, 93, 238);
}


.loading {
  height: 0;
  position: relative;
  top: 6rem;
}